*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 63.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  color: green;
  font-size: 10rem;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 53%;
  }
}
